<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Premium Bootstrap 4 Landing Page Template" />
    <meta name="keywords" content="bootstrap 4, premium, marketing, multipurpose" />
    <meta content="Themesdesign" name="author" />
    <title>@ViewBag.Title - 球队管理系统</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <!-- Pe-7 icon -->
    <link href="~/Content/Home/pe-icon-7.css" rel="stylesheet" type="text/css" />
    <!--Slider-->
    <link rel="stylesheet" href="~/Content/Home/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/Content/Home/owl.theme.default.min.css" />
    <!-- css -->
    <link href="~/Content/Home/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Home/style.min.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-dark align-items-center">
        <div class="container">
            <!-- LOGO -->
            <a class="logo mr-3" href="~/Home/Index">
                @if (Session["User"] != null)
                {
                    <img src="~/img/Home/足球.jpg" alt="" class="" height="50" style="padding-left:205px">
                }
                else
                {
                    <img src="~/img/Home/足球.jpg" alt="" class="" height="50" style="padding-left:190px">
                }
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"><i class="" data-feather="menu"></i></button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav navbar-center" id="mySidenav">
                    <li class="nav-item" id="Home">@Html.ActionLink("球队网", "Index", "Home")</li>
                    <li class="nav-item" id="Create">@Html.ActionLink("创建一支球队", "CreateTeam", "Home")</li>
                    <li class="nav-item" id="Join">@Html.ActionLink("加入一支球队", "JoinTeam", "Home")</li>
                </ul>
                <ul class="list-inline ml-auto menu-social-icon mb-0 py-2 py-lg-0">
                    <li class="list-inline-item ml-0"><a href="#" class="menu-social-link"><i class="icon-xs sw_1-5" data-feather="facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="menu-social-link"><i class="icon-xs sw_1-5" data-feather="twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="menu-social-link"><i class="icon-xs sw_1-5" data-feather="instagram"></i></a></li>
                    <li class="list-inline-item mr-0"><a href="#" class="menu-social-link"><i class="icon-xs sw_1-5" data-feather="linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        @if (Session["User"] != null)
        {
            using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()
                <div class="navbar-collapse collapse" style="width:330px">
                    <ul class="nav nav-pills">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                @Session["UserName"]
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("个人中心", "PersonalCenter", "Account")</li>
                                @{
                                    if (Convert.ToInt32(Session["Access"]) == 1)
                                    {
                                        <li>@Html.ActionLink("管理球队", "Home", "TeamManagement")</li>
                                    }
                                }
                                @*<li>@Html.ActionLink("更改密码", "ChangePassword", "Account")</li>*@
                                <li role="presentation" class="divider"></li>
                                <li><a href="javascript:sessionStorage.removeItem('accessToken');$('#logoutForm').submit(); window.location.href ='/Account/Login'" id="loginout">退出登录</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            }
        }
        else
        {
            <ul class="nav navbar-nav navbar-right" style="width:330px">
                <li>@Html.ActionLink("登录", "Login", "Account", routeValues: new { area = "" }, htmlAttributes: new { id = "loginLink" })</li>
            </ul>
        }
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @*<p>&copy; @DateTime.Now.Year - 我的 ASP.NET 应用程序</p>*@
            <div style="height:35px;margin-top: 28px;margin-bottom: 12px;">
                <div style="float:left;margin-top:-5px;">
                    &copy; @DateTime.Now.Year - 球队管理系统 
                </div>
                <div style="float:right;margin-right:30px;">
                    <span id="clock" style="margin-top:18px;"></span>
                </div>
            </div>
        </footer>
    </div>


    <script>
        $(document).ready(function () {
            $("#loginout").click(function () {
                $.ajax({
                    type: 'post',
                    url: "/Account/Login_out",
                })
            })
        })
        function Clock() {
            var date = new Date();
            this.year = date.getFullYear();
            this.month = date.getMonth() + 1;
            this.date = date.getDate();
            this.day = new Array("星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六")[date.getDay()];
            this.hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
            this.minute = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
            this.second = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
            this.toString = function () {
                return this.year + "年" + this.month + "月" + this.date + "日 " + this.hour + ":" + this.minute + ":" + this.second + " " + this.day;
            };

            this.toSimpleDate = function () {
                return this.year + "-" + this.month + "-" + this.date;
            };

            this.toDetailDate = function () {
                return this.year + "-" + this.month + "-" + this.date + " " + this.hour + ":" + this.minute + ":" + this.second;
            };
            this.display = function (ele) {
                var clock = new Clock();
                ele.innerHTML = clock.toString();
                window.setTimeout(function () { clock.display(ele); }, 1000);
            };
        }
        var clock = new Clock();
    </script>
</body>
</html>
