<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Premium Bootstrap 4 Landing Page Template" />
    <meta name="keywords" content="bootstrap 4, premium, marketing, multipurpose" />
    <meta content="Themesdesign" name="author" />
    <title>@ViewBag.Title - 球队管理系统</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <!-- Pe-7 icon -->
    <link href="~/Content/Home/pe-icon-7.css" rel="stylesheet" type="text/css" />
    <!--Slider-->
    <link rel="stylesheet" href="~/Content/Home/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/Content/Home/owl.theme.default.min.css" />
    <!-- css -->
    <link href="~/Content/Home/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Home/style.min.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("球队网", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("首页", "Index", "Home")</li>
                        <li>@Html.ActionLink("创建一支球队", "About", "Home")</li>
                        <li>@Html.ActionLink("加入一支球队", "Contact", "Home")</li>
                        <li>@Html.ActionLink("帮助", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>*@
    <nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-dark align-items-center">
        <div class="container">
            <!-- LOGO --><a class="logo mr-3" href="~/Home/Index"><img src="~/img/Home/logo-dark.png" alt="" class="" height="26"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"><i class="" data-feather="menu"></i></button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav navbar-center" id="mySidenav">
                    <li class="nav-item" id="Home">@Html.ActionLink("球队网", "Index", "Home")</li>
                    <li class="nav-item" id="Create">@Html.ActionLink("创建一支球队", "CreateTeam", "Home")</li>
                    <li class="nav-item" id="Join">@Html.ActionLink("加入一支球队", "JoinTeam", "Home")</li>
                    <li class="nav-item" id="Help">@Html.ActionLink("帮助", "Contact", "Home")</li>
                </ul>
                <ul class="list-inline ml-auto menu-social-icon mb-0 py-2 py-lg-0">
                    <li class="list-inline-item ml-0"><a href="#" class="menu-social-link"><i class="icon-xs sw_1-5" data-feather="facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="menu-social-link"><i class="icon-xs sw_1-5" data-feather="twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="menu-social-link"><i class="icon-xs sw_1-5" data-feather="instagram"></i></a></li>
                    <li class="list-inline-item mr-0"><a href="#" class="menu-social-link"><i class="icon-xs sw_1-5" data-feather="linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @*<p>&copy; @DateTime.Now.Year - 我的 ASP.NET 应用程序</p>*@
            <div style="height:35px;margin-top: 28px;margin-bottom: 12px;">
                <div style="float:left;margin-top:-5px;">
                    &copy; @DateTime.Now.Year - 球队管理系统 @*<img class="logo" src="~/img/Logins/登录足球场.jpg" style="height:30px;width:30px;" />*@
                </div>
                <div style="float:right;margin-right:30px;">
                    <span id="clock" style="margin-top:18px;"></span>
                </div>
            </div>
        </footer>
    </div>


<script>
    function Clock() {
        var date = new Date();
        this.year = date.getFullYear();
        this.month = date.getMonth() + 1;
        this.date = date.getDate();
        this.day = new Array("星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六")[date.getDay()];
        this.hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
        this.minute = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
        this.second = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
        this.toString = function () {
            return this.year + "年" + this.month + "月" + this.date + "日 " + this.hour + ":" + this.minute + ":" + this.second + " " + this.day;
        };

        this.toSimpleDate = function () {
            return this.year + "-" + this.month + "-" + this.date;
        };

        this.toDetailDate = function () {
            return this.year + "-" + this.month + "-" + this.date + " " + this.hour + ":" + this.minute + ":" + this.second;
        };
        this.display = function (ele) {
            var clock = new Clock();
            ele.innerHTML = clock.toString();
            window.setTimeout(function () { clock.display(ele); }, 1000);
        };
    }
    var clock = new Clock();
    clock.display(document.getElementById("clock"));
</script>
</body>
</html>
