@model IEnumerable<FCWeb.Models.Schedules>
@{
    ViewBag.Title = "Statistics";
    Layout = null;
}
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/Content/TeamManagement/font.css">
    <link rel="stylesheet" href="~/Content/TeamManagement/xadmin.css">
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link href="~/Content/Home/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Home/style.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Home/pe-icon-7.css" rel="stylesheet" type="text/css" />
    <!--Slider-->
    <link rel="stylesheet" href="~/Content/Home/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/Content/Home/owl.theme.default.min.css" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <style type="text/css">
        .attend-item {
            margin: 5px 5px;
            padding: 5px;
            width: 7em;
            display: block;
        }
    </style>
</head>
<body>
    <div class="panel panel-default">
        <ul id="calendarIndex1" class="nav nav-tabs" style="margin-top:10px;margin-bottom:20px;">
            <li style="margin-left:10px;" title="详细列表">
                <a href="../MatchSchedule">
                    <span class="glyphicon glyphicon-th-list"></span>
                    <span class="hidden-xs">赛程<span class="hidden-sm">列表</span></span>
                </a>
            </li>
            <li class="" title="添加赛程">
                <a href="../MatchCreate">
                    <span class="glyphicon glyphicon-plus-sign hidden-sm"></span>
                    <span class="hidden-xs">添加<span class="hidden-sm">赛程</span></span>
                </a>
            </li>
            <li class="" title="赛事添加球员">
                <a href="../PlayerAdd">
                    <span class="glyphicon glyphicon-plus-sign hidden-sm"></span>
                    <span class="hidden-xs">赛事<span class="hidden-sm">添加球员</span></span>
                </a>
            </li>
        </ul>

        <script type="text/javascript">
            $('#calendarIndex1').find('a').filter(function () { return $(this).text().trim() == '赛程列表'; }).parent().addClass('active');
        </script>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2 col-sm-3 hidden-xs">
                    <div class="panel bg-default text-center bg-default">
                        <div class="panel-body" style="background-color:#3c5868">
                            <br class="hidden-md hidden-xs hidden-sm" />
                            <a href="" class="text-white link-none">
                                <strong>
                                    @Html.DisplayFor(modelItem => Model.ElementAt(0).SdulsTime.Day)
                                </strong>
                                <br>
                                <span>
                                    @{
                                        string strWeek = "星期" + "日一二三四五六".Substring((int)Model.ElementAt(0).SdulsTime.DayOfWeek, 1);
                                    }
                                    @strWeek
                                </span>
                                <br />
                                <div class="hidden-md hidden-xs hidden-sm">
                                    <small class="text-muted">
                                        @{
                                            var NearHour = Model.ElementAt(0).SdulsTime - DateTime.Now;
                                            string t = "";
                                        }
                                        @{ if (NearHour.Days > 0)
                                            {
                                                t = @NearHour.Days.ToString() + "天" + @NearHour.Hours.ToString() + "小时后";
                                            }
                                            else if (@NearHour.Hours > 0)
                                            {
                                                t = @NearHour.Hours + "小时后";
                                            }
                                            else
                                            {
                                                t = "已结束";
                                            }
                                        }
                                        @t
                                    </small>
                                </div>
                                <br />

                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <div>
                        <a href="" class="link-none">
                            <strong>
                                @Model.ElementAt(0).SdulsTime
                            </strong>
                        </a>
                        <span class="text-muted">
                            (@t)
                        </span>
                    </div>
                    <div>
                        比赛地点： @Model.ElementAt(0).Place
                        <span id="LocationCoordinate" class="glyphicon glyphicon-map-marker text-info cursor-hand"></span>
                    </div>
                    <div>
                        参赛人数： @Model.ElementAt(0).Participate / @Model.ElementAt(0).LimitNum
                    </div>
                    <div>
                        赛程费用： &#165;@Model.ElementAt(0).SduFees
                    </div>
                    <div>
                        每人费用： &#165;@Model.ElementAt(0).PersonFees
                    </div>
                    <div>
                        比赛对手： @Model.ElementAt(0).Rival
                    </div>
                    <div>
                        比赛结果：@Model.ElementAt(0).Result
                    </div>
                </div>

            </div>
            <hr />
            <div class="text-center">

                <ul id="ulAttendUsers" class="list-inline">
                    @foreach (KeyValuePair<int, List<string>> d in ViewBag.bm)
                    {
                        if (d.Key == Model.ElementAt(0).ID)
                        {
                            foreach (string k in d.Value)
                            {
                                <li>
                                    <span class="attend-item label label-default" style="background-color:darkorange" title="还有空余位置" data-toggle="tooltip">
                                        @k
                                    </span>
                                </li>
                            }
                        }
                    }
                    @{
                        for (int i = 0; i < Model.ElementAt(0).LimitNum - Model.ElementAt(0).Participate; i++)
                        {
                            <li>
                                <span class="attend-item label label-default" title="还有空余位置" data-toggle="tooltip">
                                    空
                                </span>
                            </li>
                            if (i + Model.ElementAt(0).Participate == 10)
                            {
                                <li>
                                    <span class="attend-item label label-default" title="还有很多空余位置" data-toggle="tooltip">
                                        ……
                                    </span>
                                </li>
                                break;
                            }
                        }
                    }
                </ul>
                <script type="text/javascript">
                    $('#ulAttendUsers').find('[data-toggle]').tooltip();
                </script>

            </div>
            <hr />
            <div class="pull-right">
                <span class="hidden-xs">
                    <a href="../ScheduleResult/@Model.ElementAt(0).ID">
                        <span class="glyphicon glyphicon-eye-open text-info"></span>&nbsp;修改统计信息
                    </a>
                </span>
            </div>
        </div>
    </div>
    <div class="helper-content visible-xs"></div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-8 col-sm-6 col-xs-12">
            <ul id="calendarIndex" class="nav nav-tabs" style="margin-top:10px;margin-bottom:20px;">
                <li style="margin-left:10px;" title="详细列表">
                    <a href="../Statistics/@Model.ElementAt(0).ID">
                        <span class="glyphicon glyphicon-flag"></span>
                        <span class="hidden-xs">参加队员</span>
                    </a>
                </li>
                <li class="" title="添加赛程">
                    <a href="../LeaveAbsence/@Model.ElementAt(0).ID">
                        <span class="glyphicon glyphicon-time"></span>
                        <span class="hidden-xs">请假队员</span>
                    </a>
                </li>
                <li class="" title="添加赛程">
                    <a href="../Absence/@Model.ElementAt(0).ID">
                        <span class="glyphicon glyphicon-th-list"></span>
                        <span class="hidden-xs">鸽子队员</span>
                    </a>
                </li>
            </ul>

            <script type="text/javascript">
                $('#calendarIndex').find('a').filter(function () { return $(this).text().trim() == '参加队员'; }).parent().addClass('active');
            </script>
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th style="width: 20px;" class="hidden-xs"></th>
                        <th style="width: 20px;" class="hidden-xs"></th>
                        <th style="width: 3em;" class="text-right">
                        </th>
                        <th style="width: 1em;"></th>
                        <th class="realname-length">
                            <a>姓名</a>
                        </th>
                        <th class="hidden-md hidden-xs hidden-sm">
                            <a>位置</a>
                        </th>
                        <th class="hidden-md hidden-xs hidden-sm">
                            <a>费用</a>
                        </th>
                        <th class="hidden-md hidden-xs hidden-sm">
                            <a>进球</a>
                        </th>
                        <th class="hidden-md hidden-xs hidden-sm">
                            <a>助攻</a>
                        </th>
                        <th style="width: 5em;" class="hidden-md hidden-xs hidden-sm">
                            <a>操作</a>
                        </th>
                        <th style="width: 20px;" class="hidden-xs"></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        for (int i = 0; i < ViewBag.sp.Count; i++)
                        {
                            string Name = ViewBag.qy_Name[i];
                            string Location = ViewBag.Location[i];
                            decimal Cost = ViewBag.sp[i].Cost;
                            int Goal = ViewBag.sp[i].Goal;
                            int Assists = ViewBag.sp[i].Assists;
                            int cid = ViewBag.sp[i].PlayerID;


                            <tr>

                                <td class="text-muted hidden-xs">
                                </td>
                                <td class="hidden-xs">

                                    <span class="glyphicon glyphicon-star text-muted" title="" data-toggle="tooltip"></span>

                                </td>
                                <td class="text-right">
                                    <a data-toggle="popover" data-placement="right" data-value="46953">


                                    </a>
                                </td>
                                <td></td>
                                <td>
                                    <a href="" data-toggle="popover" data-placement="right" data-value="46953">
                                        @Name
                                    </a>
                                </td>
                                <td class="hidden-md hidden-xs hidden-sm">
                                    @Location
                                </td>
                                <td class="text-danger hidden-md hidden-xs hidden-sm" id="Cost" name="@cid" title="@Model.ElementAt(0).ID">
                                    &#165;<label>@Cost</label>
                                </td>
                                <td class="hidden-md hidden-xs hidden-sm" id="Goal" name="@cid" title="@Model.ElementAt(0).ID">
                                    @Goal
                                </td>
                                <td class="hidden-md hidden-xs hidden-sm" id="Assists" name="@cid" title="@Model.ElementAt(0).ID">
                                    @Assists
                                </td>
                                <td class="text-right">
                                    <ul>
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="管理员操作">
                                                <span class="glyphicon glyphicon-cog"></span>
                                                <span class="hidden-xs"> 管理员操作</span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li class="">
                                                    <a id="qj" name="@Model.ElementAt(0).ID" title="@cid"><span class="glyphicon  glyphicon-pencil"></span>&nbsp;记录为请假</a>
                                                </li>
                                                <li class="">
                                                    <a id="gz" name="@Model.ElementAt(0).ID" title="@cid"><span class="glyphicon glyphicon-pencil"></span>&nbsp;记录为鸽子</a>
                                                </li>
                                                <li class="">
                                                    <a id="cx" name="@Model.ElementAt(0).ID" title="@cid"><span class="glyphicon  glyphicon-minus-sign"></span>&nbsp;撤销出场记录</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </td>

                                <td class="hidden-xs">
                                </td>
                            </tr>
                        }
                        <tr class="hidden-xs">
                            <td class="text-muted hidden-xs"></td>
                            <td class="hidden-xs"></td>
                            <td class="text-right"></td>
                            <td></td>
                            <td></td>
                            <td class="hidden-md hidden-xs hidden-sm"></td>
                            <td class="text-danger hidden-md hidden-xs hidden-sm text-muted">
                                <small>
                                    赛程总花费：<br />
                                    &#165; @Model.ElementAt(0).SduFees
                                    &nbsp;&nbsp;
                                </small>
                            </td>
                            <td class=" text-muted hidden-xs hidden-md hidden-sm">
                                <small>
                                    总数：<br />
                                    @{
                                        int total_Goal = 0;
                                        int total_Assists = 0;
                                        int l = 0;
                                        for (int i = 0; i < ViewBag.sp.Count; i++)
                                        {
                                            int Goal = ViewBag.sp[i].Goal;
                                            int Assists = ViewBag.sp[i].Assists;
                                            total_Goal += Goal;
                                            total_Assists += Assists;
                                            l = i+1;
                                        }
                                    }
                                    @total_Goal
                                    &nbsp;&nbsp;
                                </small>
                            </td>
                            <td class="text-muted hidden-xs hidden-md hidden-sm">
                                <small>
                                    总数：<br />
                                    @total_Assists
                                    &nbsp;&nbsp;
                                </small>
                            </td>
                            <td class=" text-muted hidden-xs hidden-md hidden-sm">
                                <small>
                                    共：<br />
                                    @l 人
                                    &nbsp;&nbsp;
                                </small>
                            </td>
                            <td class="hidden-sm"></td>
                        </tr>
                    }
            </table>



        </div>
        <div class="col-md-4 col-sm-7 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;不参加队员列表
                </div>
                <div id="myModalLabel" class="panel-body text-center" style="min-height:170px;">
                    <table class="table table-striped table-condensed">
                        <thead>
                            <tr>
                                @*<th style="width: 20px;" class="hidden-xs"></th>
                                    <th style="width: 20px;" class="hidden-xs"></th>
                                    <th style="width: 3em;" class="text-right">
                                    </th>
                                    <th style="width: 1em;"></th>*@
                                <th class="realname-length">
                                    <a>姓名</a>
                                </th>
                                <th class="hidden-md hidden-xs hidden-sm">
                                    <a>位置</a>
                                </th>
                                <th style="width: 5em;" class="hidden-md hidden-xs hidden-sm">
                                    <a>操作</a>
                                </th>
                            </tr>
                        </thead>
                        @{
                            for (int d = 0; d < ViewBag.wbmqy.Count; d++)
                            {
                                string Name = ViewBag.wbmqy[d].UserName;
                                string Location = ViewBag.wbmqy[d].Location;
                                int PlayerID = ViewBag.wbmqy[d].ID;
                                <tr>
                                    <td>
                                        <a href="" data-toggle="popover" data-placement="right" data-value="46953">
                                            @Name
                                        </a>
                                    </td>
                                    <td class="hidden-md hidden-xs hidden-sm">
                                        @Location
                                    </td>
                                    <td class="hidden-md hidden-xs hidden-sm">
                                        @Html.ActionLink("添加", "AddToSchedule", new { id = Model.ElementAt(0).ID, PlayerID = PlayerID }, new { onclick = "return confirm('是否确认添加进赛程？')" })
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="helper-content visible-xs"></div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="text-center">
            <button type="button" title="@Model.ElementAt(0).ID" class="btn btn-primary" id="Settlement">&nbsp;结算&nbsp;</button>
        </div>
    </div>
</body>
<script type="text/javascript">
    $("#Settlement").click(function () {
        var id = $("#Settlement").attr('title');
        $.ajax({
            type: 'post',
            url: "/TeamManagement/Settlement",
            data: { S_ID: id },
            dataType: 'json',
            success: (res) => {
                    alert(res);
            }
        })
    })
    $("#qj,#gz,#cx").click(function () {
        var sid = $(this).attr("name");
        var pid = $(this).attr('title');
        var stau = $(this).attr('id');
        $.ajax({
            type: 'post',
            url: "/TeamManagement/Record",
            data: { sid: sid, pid: pid, status:stau},
            dataType: 'json',
            success: (res) => {
                let code = res
                alert(code);
                window.location.reload();
            }
        })
    })
    $(function () {
        $.each($("tbody tr"), function () {
            //获取tr中的子元素
            var td = $(this).children("td:eq(6),td:eq(7),td:eq(8)");
            td.click(tdClick);
        });
    });
    function tdClick() {
        /*  第一步：获取点击对象 获取文本 清空对象中的内容 */
        //获取当前对象
        var td = $(this);
        //获取当前点击对象的文本
        var tdText = td.text();
        //清空点击对象td中的内容
        td.empty();

        /* 第二步：创建一个文本框的元素 */
        //创建一个文本框元素
        var ipt = $("<input type='text'"+"oninput="+"this.value=this.value.replace(/[^0-9]/g,'');"+">");
        //将获取到的对象文本设置为输入框的value
        ipt.val(tdText);
        //设置文本框的宽高等于输入框的宽高
        ipt.width(50);
        ipt.height(td.height());
        //将创建的文本框添加到td中
        td.append(ipt);
        //触发选择事件,输入框的文本自动被选中
        ipt.trigger("select");
        //当键盘按下时
        /* 当按下回车键时更改并提交数据 */
        ipt.keydown(function (e) {
            //当按下回车后 回车键键值等于13
            if (e.keyCode == 13) {
                var value = ipt.val();
                var playerid = td.attr('name');
                var id = td.attr('title');
                if ("Cost" == td.attr('id')) {
                    td.text("￥" + ipt.val());
                    $.ajax({
                        type: 'post',
                        url: "/TeamManagement/CostChanges",
                        data: { S_ID: id, Cost: value, P_ID: playerid },
                        dataType: 'json',
                        success: (res) => {
                            let code = res
                            if (code == "修改成功") {
                                alert(code);
                            } else {
                                alert(code);
                            }
                        }
                    })
                }
                else if ("Goal" == td.attr("id")) {
                    td.text(ipt.val());
                    $.ajax({
                        type: 'post',
                        url: "/TeamManagement/GoalChanges",
                        data: { S_ID: id, Goal: value,P_ID: playerid },
                        dataType: 'json',
                        success: (res) => {
                            let code = res
                            if (code == "修改成功") {
                                alert(code);
                            } else {
                                alert(code);
                            }
                        }
                    })
                }
                else {
                    td.text(ipt.val());
                    $.ajax({
                        type: 'post',
                        url: "/TeamManagement/AssistsChanges",
                        data: { S_ID: id, Assists: value, P_ID: playerid },
                        dataType: 'json',
                        success: (res) => {
                            let code = res
                            if (code == "修改成功") {
                                alert(code);
                            } else {
                                alert(code);
                            }
                        }
                    })
                }
                //通过ajax将数据提交给后端

                //绑定点击事件
                td.click(tdClick);
            }
        });
        //当文本框出现,解绑点击事件
        td.unbind(tdClick);
    }
</script>
